@tailwind base;
@tailwind components;
@tailwind utilities;
 
* {
  font-family: var(--font-poppins);
}

body, html {
  overflow: hidden !important;
  -webkit-font-smoothing: antialiased;
  background-color: #F5F6FA;
  scroll-behavior: smooth;
}

 .navbar, .transitionButton {
  transition: width 0.3s ease;
} 

.shadowHeader {
  box-shadow: 0 0 1rem #00000026 ;
}

.scrool {
  overflow: auto;
}
.main-overlay {
  background: rgba(0, 0, 0, 0.7);
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #c8cecf;
  border-radius: 1rem;
  cursor: pointer !important;
}

*::-webkit-scrollbar-thumb {
  background: #3d3e4171;
  border-radius: 1.4rem;
} 

/* #print  */
@media print {
  body {
    font-size: 12pt; 
    color: black; 
  }
}

@media print {
  .page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: start;
    padding: 10px 0;
    overflow: hidden;
  }
}

@media print {
  .page-footer {
    background-color: white;
  }
  @page {
    @top-center {
      content: "Cabeçalho à esquerda"; /* Texto a ser exibido no canto superior esquerdo */
      color: blue; /* Cor do texto */
      font-size: 12pt; /* Tamanho da fonte */
      margin: 10mm; 
    }
  }
}



@media print {
  .bodyPrint {
    position: relative;
    height: max-content;
    width: 793px;
    background-color: white;
    display: flex;
    flex-direction: column;
  }
}

@page {
  size: portrait;
  margin: 0%;
  background-color: white;
}

section {
  /* page-break-after: left; */
  /* break-after: page; */
}

@media print {
  button {
    display: none;
  }
  #WHITEB {
    background-color: white;
  }
}
