@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
 .anima {
  transition: 0.3s ease;
} 

.shadowHeader {
  box-shadow: 0 0 1rem #00000026 ;
}
.shadow2 {
  box-shadow: 0 0 .3rem #00000026
}

.scrool {
  overflow: auto;
}
.main-overlay {
  background: rgba(0, 0, 0, 0.7);
}

.main-overlay {
  background: rgba(0, 0, 0, 0.7);
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #c8cecf;
  border-radius: 1rem;
  cursor: pointer !important;
}

*::-webkit-scrollbar-thumb {
  background: #3d3e4171;
  border-radius: 1.4rem;
} 

.button-close {
  position: absolute;
  border: 0;
  top: 0.8rem;
  right: 1rem;
  line-height: 0;
  cursor: pointer;
}

@media print {
  /* Define o estilo do rodapé */
  .page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding: 14px 10px;
    font-size: 12px;
  }
}