@tailwind base;
@tailwind components;
@tailwind utilities;
 
* {
  font-family: var(--font-poppins);
}

body, html {
  overflow: hidden !important;
  -webkit-font-smoothing: antialiased;
  background-color: #F5F6FA;
  scroll-behavior: smooth;
}

 .navbar, .transitionButton {
  transition: width 0.3s ease;
} 

.shadowHeader {
  box-shadow: 0 0 1rem #00000026 ;
}

.scrool {
  overflow: auto;
}
.main-overlay {
  background: rgba(0, 0, 0, 0.7);
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #c8cecf;
  border-radius: 1rem;
  cursor: pointer !important;
}

*::-webkit-scrollbar-thumb {
  background: #3d3e4171;
  border-radius: 1.4rem;
} 
.my-config {
  --darkmode: 0;
  --h-accent: 223;
  --s-accent: 100%;
  --l-accent: 61%;
}
